<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #202341;" >
  <a class="navbar-brand" href="index.html">
    <img src="../../../assets/img/logo.svg" width="30" height="30" class="d-inline-block align-top" alt=""> DIO</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

        <li *ngIf="tipoUsuario === 1" class="nav-item">
          <a [routerLink]="['/processo']" class="nav-link" >
            Cadastrar
          </a>
        </li>

        <li class="nav-item">
          <a [routerLink]="['/processos']" class="nav-link" >
            Consultar
          </a>
        </li>

        <li class="nav-item">
          <a  class="nav-link" >
            Dicionário Jurídico
          </a>
        </li>



      </ul>

      <ul class="nav justify-content-md">
        <li class="nav-item">
          <h6>Bem vindo: {{usuario.nome + " "}} {{usuario.sobreNome}}</h6>
         </li>
      </ul>

      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a [routerLink] class="sair" (click)="Logout()" ><i class="icon-logout"></i></a>
        </li>
      </ul>
  </div>
</nav>
