<app-cabecalho></app-cabecalho>
<div class="card-header text-center">
      <h4> Visualizar processos</h4>
    </div>

    <div class="card-body">
        <table class="table table-hover">
            <thead>
              <tr class="bg-warning text-center">
                <th>Número</th>
                <th>Cliente</th>
                <th>Descrição</th>
                <th>Data</th>
                <th>Ações</th>
              </tr>
            </thead>

            <tbody>
              <tr class="text-center">
                <th>145415615</th>
                <td>Mark Otto</td>
                <td>Teste</td>
                <td>Otto</td>
                <td>
                <button type="button" class="btn btn-outline-info"><i class="fas fa-pen"></i></button>
                <button type="button" class="btn btn-outline-danger"><i class="fas fa-trash"></i></button>
            </td>
              </tr>
            </tbody>
          </table>
