html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #202341;
  color: white;
  padding-top: 10%;
}

.form-signin {
  text-align: center;
  width: 100%;
  max-width: 800px;
  padding: 15px;
  margin: 0 auto;
}

.l{
  margin-left: 10px;
}
