<body class="background">
  <form  role="form" id="quickForm">
	<div class="login">

		<div class="login-screen">
      <img class="logo"  width="100px" src="../../../assets/img/Logo.png">
			<div class="app-title">
				<h2> FAÇA DIREITO </h2>
			</div>

			<div class="login-form">
				<div class="control-group">
				<input formControlName="email" type="text" class="login-field" value="" placeholder="E-mail" id="login-name">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>

				<div class="control-group">
				<input formControlName="senha" type="password" class="login-field" value="" placeholder="Senha" id="login-pass">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>

        

        <a class="btn btn-primary btn-large btn-block" [routerLink]  >Entrar</a><br/><br/>
        <a class="novaconta" [routerLink]="['/professor']" >Criar conta</a>
      </div>
    </div>
  </div>

</form>
</body>
