html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #0d0c3b;
  color: white;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.l{
  margin-left: 10px;
}


input{
  color: #F4EDE8;
  border: none;
  background-color: #232129;
}

input:not(:hover ){
  color: #F4EDE8;
  border: none;
  background-color: #232129;
}

input:hover {
  color: #F4EDE8;
  border: none;
  background-color: #232129;
}
